body {

    color: deeppink;
    background: burlywood;
    margin: 0px;
    font-family: "Libre Baskerville", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 5px white padding: 20px;
    font-size: 32px;
    color: pink;

}

.chamada{
    background-color: aqua;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categora{
    padding-left: 20px;
    padding-right: 25px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
opacity: 1,0;
border: 1px solid plum;
}

.categoria h2{
    color: deeppink;

}